@charset "UTF-8";
main,header,article{
    border:1px solid grey;

}
body{background-color: gray;}
main{
    background-color: pink;
    max-width: 800px;
    width: 80%;
    margin:auto;


}
header{
    border-bottom:1px solid black;
    border-top:1px solid black;
    padding-left:10px;
}
article{
    background-color: white;
}
/*szerkezet */
.four{
    display:flex;

}
.four article{
    margin: 5px;
    padding:5px;
    width: 190px;

}

.two{
    display:flex;
    padding: 10px;


}
.two article{
    margin: 5px;
    padding:5px;
}
nav ul{
    display:flex;
}
nav ul li{
    list-style-type: none;
    width: 50%;
  
}
.item{
    display:flex;
     
}
.item a{
  width: 100px;
  border: 1px solid white;
  
  text-align: center;
  
}
nav li{
    margin: 5px;
   
    
}
.home{
border:1px solid white;
padding-left: 20px;
padding-right:20px;
}
.item2{
    display:flex;
    margin-left:25%;
     width:50%;
}
.item2 a{
  align-items: center;
  width: 100px;
  border: 1px solid white;
  text-align: center;
  
}